

{{!-- add block --}}

<div class="add" >

   <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">Username</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">name</div>
        </div>
        <Input type="text" @value={{model.name}} class="form-control" placeholder="name"></Input>
      </div>
    </div>


   <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">mail</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">mail</div>
        </div>
        <Input type="text" @value={{model.mail}} class="form-control" placeholder="mail"></Input>
      </div>
    </div>


   <div class="col-auto">
      <label class="sr-only" for="inlineFormInputGroup">phone number</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">phone number</div>
        </div>
        <Input type="text" @value={{model.phone_number}} class="form-control" placeholder="phone number"></Input>
      </div>
    </div>


    <button {{action "update"}} class="btn btn-success">SAVE</button>

    <button {{action "erase"}} class="btn btn-danger">CANCEL</button>


</div>






{{outlet}}
