
<LinkTo @route="new" class="btn btn-outline-danger" role="button">+new</LinkTo>

<div class="show">


<table class="table">
  <thead class="thead-dark">
    <tr> 
      <th scope="col">Name</th>
      <th scope="col">Mail</th>
      <th scope="col">Phone number</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.model as |i|}}
          <tr>
            <LinkTo @route="list.detail" @model={{i.id}}>
                <td>{{i.name}}</td>
            </LinkTo> 
            <td>{{i.mail}}</td>
            <td>{{i.phone_number}}</td>
          </tr>

    {{/each}}
  </tbody>
</table>

</div>


<hr>
{{outlet}}







